[2015-05-04 16:27] notconfusing opened #1 "Define Interactions"
What are the main things the portal will do?

+ View Graphs and Charts
    + Two modes:
        + Current
        + Change since last week
    + 13 Graphs from Paper ( * = focus on, ~ = not now)
        + By Gender (pg16) : do not reduce to just male/female if possible *
        + By Country (pg15)
        + By Date of Death (pg16)
        + By Place of Birth (pg16)
        + By Culture (pg 7, 17-

[2015-05-04 18:42] notconfusing opened #2 "Clean up repo, make new branch"
move nb's to folder, create a project branch

[2015-05-04 18:48] notconfusing opened #3 "Set up Wikidata Toolkit on WMFLabs"
https://www.mediawiki.org/wiki/Wikidata_Toolkit
1. See if it can be done on tools-labs.
2. If not set it up on an instance
    2. possibly using the wikidumpparse instance I have already created
    2. i-000002ac.eqiad.wmflabs
3. See if the wikidatadump json.bzip file can be accessed instead of downloaded
4. Confirm an example script can run.

[2015-05-04 18:59] notconfusing opened #4 "Modify Wikidata Index Processor"
Requires a Running WikidataToolkit instance #3 .

Make this file run https://github.com/notconfusing/WIGI/blob/master/GenderIndexProcessor.java
Also add collection of profession data http://www.wikidata.org/wiki/Property:P106 and  http://www.wikidata.org/wiki/Property:P101

Make output snapshotted into folders based on the date.

[2015-05-04 21:57] notconfusing opened #5 "Automate Local Hero Data Bytes Per Article Query"
How did Magnus produce his Local Hero analysis, and can we automate it? It features in the WIGI paper with the term "language-unique versus language-many". One way to do it would be a SQL query, we should probably ask Magnus how it was done. Another way might be the processing the Wikipedia dumps if we can do it very quickly.

[2015-05-04 22:01] notconfusing opened #6 "Automate Celebrity Percentage Research"
Easiest way to do this will be to use the cluster that halfak has promised.

[2015-05-04 22:06] notconfusing opened #7 "Collect Wikitech usernames"
@hargup @vivekiitkgp once you register at http://wikitech.wikimedia.org/ can you send me your profiles so I can add you to the virtual machines.

[2015-05-04 22:31] notconfusing opened #8 "Make Weekly Visulation Code"
From the csv output of GenderIndexProcessing.java convert all the .ipynb in this repo to pure python and produce CSV output of the data they derive. That is finish this chain for each ipynb.
wikidata -> wikidatatoolkit -> wdtk-csv -> python-pandas -> graphable-csv.

[2015-05-04 22:32] notconfusing opened #9 "Make Longitudinal Visualisation Code"
Every time we compute #8 we need to save the data into a different snapshot. Then for each measure we need how those measures are changing over time.

[2015-05-04 22:34] notconfusing opened #10 "Design Visualisation Style"
Designers create a unified visualisation style for how the graphs should look. What labels, ticks, colours should be used for maximum effect.

[2015-05-04 22:37] notconfusing opened #11 "Get Community Input on Visualisations"
After creating a UI mockup promote and fish for input on if the site and visualizations look right.

From @fsoong:
I would like to do separate initial survey to understand the editors' experience using current analytic tools such as http://reportcard.wmflabs.org/, http://datavis.wmflabs.org/, http://www.wikipediatrends.com/, ones outside Wikipedia such as Google Analytics. I also want to know how

[2015-05-04 23:02] notconfusing opened #12 "Make Portal: Front End to Viz's"
Create the website that will draw on the images produced by the visualisation code.

Can someone investigate who made http://stats.wikimedia.org/ and http://reportcard.wmflabs.org/# and if we can borrow the code? http://www.mediawiki.org/wiki/Analytics/Limn

    https://github.com/trifacta/vega/
    https://github.com/densitydesign/raw/
    https://github.com/tenXer/xcharts/

[2015-05-04 23:05] notconfusing opened #13 "Make Portal: Usage Counters"
It's important that the portal be able to count page views and downloads of our datasets. I think if we use apache it can do this.

[2015-05-04 23:07] notconfusing opened #14 "Portal Design"
Deliver a specification and mock of exactly how it should look and feel.

[2015-05-04 23:08] notconfusing opened #15 "Promote viewing"
Write some blogs. Make a video. Do some social media stuff.

[2015-05-04 23:10] notconfusing opened #16 "Write Longitudinal Statistical Paper"
Write about the trends and their statistical significance. Ideally peer-reviewed. Otherwise Self-published.

[2015-05-05 04:11] piokon commented on #16
As usual, count me in on paper writing. Would be happy to chat more
about that!

Our first paper is still in the first stage review.

##

Piotr Konieczny, PhD
http://hanyang.academia.edu/PiotrKonieczny
http://scholar.google.com/citations?user=gdV8_AEAAAAJ
http://en.wikipedia.org/wiki/User:Piotrus

On 5/5/2015 08:10, Max Klein wrote:

[2015-05-05 10:30] QEDK commented on #13
We can use Google Analytics for page view count.
However, for the download counter, we need MySQL, probably. An easier way to do it would be to make people enter their names, email or something and then count the number of entries. That's easier.

[2015-05-05 12:10] hargup commented on #16
Count me in too.

[2015-05-05 12:12] hargup commented on #7
Mine is `hargup`

[2015-05-05 12:19] hargup opened #17 "Factor out code in IPython notebooks in seperate files"

[2015-05-05 15:10] QEDK commented on #16
I'm in as a researcher. Hargup, aren't you a dev? Devs have a lot of work already. :P

[2015-05-05 15:28] hargup commented on #16
I think my inputs in the research can valuable as I have a good enough formal background in Mathematics and Statistics and also because I have an understanding of different aspects of feminism and social justice issue. I understand developers have a lot of work and I with other devs will take care of it irrespective of my contributions to the research team.

[2015-05-05 15:31] QEDK commented on #16
Yep, why not?

[2015-05-05 15:31] QEDK commented on #16
Btw, you saw the deleted version, I realized that devs "should" help too.

[2015-05-06 03:40] fsoong commented on #11
Because I am starting a part-time job this week and will be quite busy too this month, I'm very open to other people helping us design most of the actual components (in Photoshop, Illustrator, HTML/CSS, etc.) and I can focus on:
- Coordinating collaborative design efforts
- Gathering community input
- Establishing cohesive art direction

Let me know if you're interested (directly hangouts message/

[2015-05-06 03:57] fsoong commented on #1
@notconfusing This is helpful!

Komal and I have to written up our initial understandings in this Google Document: https://docs.google.com/document/d/1eb6HVPMPwE1ZiOCYbcRXh-bv5PR1GGt_i_5_E23_-HQ/edit?usp=sharing

Question: what are snaphots / snapshot points?

[2015-05-06 10:17] QEDK commented on #1
Wrt Google Doc, Excel? Why PowerPoint?

[2015-05-06 10:23] QEDK commented on #11
@fsoong Can I be the one gathering community input? I'm quite active on enwiki.

[2015-05-06 16:36] QEDK commented on #15
Once we're done with Phase A, I'll speak to Signpost and a few WikiProjects which concern us.

[2015-05-06 16:45] Komchi commented on #10
I will create several (rough)layoust tomorrow. @notconfusing you could tell if you like it or not.

[2015-05-06 16:47] QEDK opened #18 "What license do we use?"
Currently we use the MIT license.
I say, we use MPL 2.0 instead.
It provides an express grant of patent rights from the contributor to the recipient.
It requires the disclosure of source.
And prevents them from using a trademark (if we have one).
This, I believe this will be an impetus to open-source coding.
If everyone agrees, I can proceed with the change.

[2015-05-06 16:50] KomalPatel-github commented on #1
I will create several (rough)layouts by  tomorrow. @notconfusing  could tell which one you liked.

[2015-05-06 18:46] raivivek commented on #7
It's same as GitHub's - `vivekiitkgp`

[2015-05-06 21:01] fsoong commented on #10
Hi Komal,

As I'm the owner of this task, I'd like if you review them with me first
tomorrow. Please email your rough layouts to fs.soong@gmail.com.

Thanks,
Frances

On Wed, May 6, 2015 at 9:45 AM, Komal Patel notifications@github.com
wrote:

##

Frances Soong
Visual UX Designer
(908) 635-1534
francessoong.com http://www.francessoong.com/
LinkedIn https://www.linkedin.com/in/francessoong | Twitte

[2015-05-06 21:05] fsoong commented on #1
Hi @QEDK, sorry. The visibility on that document was supposed to be hidden to just Komchi, Max, and I.

We will not be using Google Doc, Excel, or PowerPoint to create any of the final outputs (research paper or portal website) for this project. I'm using Google Doc for now as a place to write collaborative notes, because it's convenient.

[2015-05-07 16:52] Komchi commented on #1
I am still a bit confused if it should be like a intractable website or not

[2015-05-07 17:59] QEDK commented on #1
It has graphs which are interactive. That's what I think, it should be.

[2015-05-07 18:01] QEDK commented on #18
@notconfusing @hargup @vivekiitkgp Read the issue.

[2015-05-08 10:39] hargup commented on #18
Licenses are generally classified on the basis of how much permission it gives
on the use of code. On this criterion licenses generally fall between the most
permissive BSD license to the least permissive GPL licenses. BSD is practically
public domain and GPL restricts the programmer to release the derivatives with only
the GPL License. BSD is good in the sense that it promotes to be reused in mos

[2015-05-08 11:10] hargup commented on #17
@notconfusing can you brief me about how you have generated the `snapshot_data`. I should be able to write a script to generate them at regular intervals.

[2015-05-08 11:13] hargup commented on #17
@notconfusing some of the files you have used in the notebooks like
`helpers/world_cultures_shortcut.json` and `helpers/wiki_code_map.json` are not present in this repository. Can you please add them?

[2015-05-08 12:32] QEDK commented on #18
@hargup I already said it:
- Express grant of patent rights.
- Recipients cannot produce work under the WIGI name.
- Our source code must be made available to the end-user.

[2015-05-08 13:14] hargup commented on #18
See when you are pitching for one license you cannot completely ignore other licenses. MPL has the characteristics you mentioned and other licenses have different characteristics. So, you have to tell us why the characteristics of MPL are important to us and how do they compare with other licenses.

WIGI is more like a scientific publication rather than a software package that can be sold. I don't

[2015-05-08 14:40] QEDK commented on #18
You don't get it.
Making it simple and permissive isn't about it.
It's about sharing improvements.

It's not us possessing patent rights, it's allowing patent submitters to use our content. MIT doesn't state this.

MIT doesn't allow this and GPL has certain restrictions like "Sublicensing" and "State changes".

Why not? MIT doesn't state this either. This would make sure that end-users have easy a

[2015-05-08 23:59] Masssly commented on #6
Has Halfak been contacted yet?

[2015-05-10 07:25] hargup commented on #18
The clause that enforces distributors/vendors of software to provide the source
code is important only when our code is redistributed/reused by someone outside
the project. Because we can always give the source code to people regardless of
the license of the software, and currently we are doing it. In my previous
comment I explained why it might be _theoretically_ hard to enforce this clause.
Prac

[2015-05-10 18:07] hargup commented on #17
I'm creating a basic python package for `WIGI` at https://github.com/notconfusing/WIGI/tree/hargup/refactoring. My current approach is to move recurrent pieces of code to the package, and then that code from the package to reproduce the notebook. I would like to completely decouple data retrieval, data processing and data presentation.

[2015-05-10 20:02] fsoong commented on #1
I've edited the  original description with my list of what the 13 graphs refer to and questions I still have about what "navigate to snapshot points" means.

[2015-05-10 20:25] fsoong commented on #11
@QEDK I don't see why not

[2015-05-10 20:30] Masssly commented on #11
Sure, will discuss that in detail with my team.

Sent from Windows Mail

From: fsoong
Sent: ‎Sunday‎, ‎May‎ ‎10‎, ‎2015 ‎8‎:‎25‎ ‎PM
To: notconfusing/WIGI

@QEDK I don't see why not

—
Reply to this email directly or view it on GitHub.

[2015-05-11 07:20] QEDK commented on #18
This isn't such a grave issue.
All I'm saying is MIT doesn't require modifications be open sourced whereas the MPL does. If improvements are open, isn't it a win-win for everyone?
MPL includes everything MIT does with 3 additional points, 1 of them being a benefit to the recipient while the other 2 being benefits to us.

[2015-05-11 17:04] fsoong commented on #18
I think Masssly (for some reason, I am unable to tag him on any comments I write on Github) brought up a good point about who will maintain our project after we'd done with it. I'm wondering if that'll impact what kind of license we'd want to use.

[2015-05-11 20:02] notconfusing commented on #6
I'm in touch and I got an account on the cluster that could make this
easier.
On 8 May 2015 16:59, "Masssly" notifications@github.com wrote:

[2015-05-11 22:15] notconfusing opened #19 "Submit an infographic to Wikidata Visualisation Challenge if Time"
https://se.wikimedia.org/wiki/Projekt:%C3%96ppna_data_2015/Visualisering/T%C3%A4vling

What

    Data from, or about, Wikidata must be included in the visualization.
    Visualizations that combine this with other Open Data sources are encouraged by the jury.
    It is allowed to reuse resources produced before the competition starts, i.e. you do not have to start from scratch.

May 4, 09.00 - Jun

[2015-05-11 22:33] notconfusing commented on #1
@fsoong . First let's define "snapshot". The data that was used for the original paper was a sampling of Wikidata from October 2014. We plan to re-sample it every week, and look at changes. Each resampling is what I will call a "snapshot" - the WIGI data **as of <insert week>**.  We plan to offer the data used to generate our graphs for each snapshot. Therefore we'll have an interaction that lists

[2015-05-11 22:54] notconfusing commented on #7
Perfect thanks. Closing now.

[2015-05-11 22:54] #7 closed

[2015-05-11 23:00] notconfusing commented on #15
@QEDK brilliant, that'll be a great help.

[2015-05-11 23:21] notconfusing commented on #17
@hargup  fantastic plan on decoupling all the seperate stages.

\me inhales deeply. OK,  `snapshot_data` comes from this _Java_ program. https://github.com/notconfusing/WIGI/blob/master/GenderIndexProcessor.java It's the thing we will have to run every week. In order to run it you need [Wikidata Toolkit](https://www.mediawiki.org/wiki/Wikidata_Toolkit) (WDTK). I want to get this happening on Wikim

[2015-05-11 23:34] notconfusing commented on #18
For this particular project, because we don't have a long term contract for future support we should do our best to make sure our code is used. Because MIT is more Open, it means it will be more attractive to use. I'm pretty happy if someone decides to use our code but doesn't open source their modification. The purpose of this grant is data-use, and MIT achieves that best in my opinion.

[2015-05-12 00:02] notconfusing commented on #1
Here are the most **essential** Graphs in my opinion just to focus on in the meantime:
Legend (*\* = two time variables)
1.  Gender By Culture Latest
   - Gender By Culture By Snaphshot
2. Gender By Country (World Map) Latest
   - Gender By Country (World Map) by Snapshot
3. Gender by Date of Birth
   - Gender by Date of Birth By Snapshot **
4. Wikipedia Language by Gender (optional by Wikipedia S

[2015-05-12 06:33] hargup commented on #17
Yes, when I say package I mean standalone software which can installed using `pip` or other package managers.

[2015-05-14 04:55] notconfusing opened #20 "Incorporate Social Indicators Feedback in Original Paper"
For all to read, but particularly those working on the future end paper.  @masssly and @hargup, These were the critiques of our original paper in our Revise and Resubmit stage:

<blockquote>
COMMENTS FOR THE AUTHOR:

Reviewer #1: With all its merits as an innovative research project, the "WIGI" index article suffers from two main critical flaws that undermine the interesting attempt to explore the

[2015-05-14 06:20] piokon commented on #20
Me and Max already have our replies to the reviewer, but before we share
them, we would appreciate any interested readers to share their views
with us (as we don't want to influence you with our thoughts).

The paper is at
https://docs.google.com/document/d/1RbXH0hBp5Y_HqXUcpSUZ4d3c5Y_AhNKEmIhGdV9FF4U/edit
- let us know if anyone needs additional permissions to leave comments
  inside

##

Piotr K

[2015-05-14 15:42] Masssly commented on #13
We can find a way to get apache/mysql to both count page views and dataset downloads without asking for names/emails. Most users are just passing by and would not proceed when asked for such details. I won't rule off using Google analytics (for page views only) but its much prettier when we use a single process to achieve both needs.

[2015-05-14 20:34] hargup commented on #20
@piokon @notconfusing To not to influence other project members I have sent my feedback through mail.

[2015-05-15 10:09] Masssly commented on #20
@piokon @notconfusing
Sent my comments by mail

[2015-05-15 19:18] Masssly commented on #11
The target audience to receive input from (to publicize any surveys or mocks) I can think of right now would most likely be in the research, analytic and developers mailing lists. @QEDK will provide us with a template of what to send so we can all review it.

[2015-05-15 19:41] fsoong commented on #11
Here is a typeform survey I've emailed a beta test group to gather feedback on mockups:
https://experiencedesign.typeform.com/to/LNKOuP. This was after an initial longer survey was sent to the whole community with more demographic details (similar to the one I have on Trello) to establish that beta test group.

[2015-05-15 21:14] Masssly commented on #11
I think you should go ahead and use it, the feel looks cool to me. Please refer to the suggestions I made earlier below:

• Because a high number of people will not complete the questionnaire (reasons include lack of interest, lack of an incentive, time constraint, fatigue, etc.), consider prioritizing which questions come first so even if a prospective respondent drops off whiles answering, there

[2015-05-15 22:03] fsoong commented on #11
@Masssly Are you confusing the surveys up? It looks like you've pasted your questions from Trello and have only changed just "google form forms captures incomplete surveys" to "typeform."

On this question, I don't think so.

For that reason, I don't recommend using Typeform for the initial 3-page survey. However, with Typeform it's easier to provide images right in the questionnaire, and make a q

[2015-05-16 14:16] QEDK commented on #11
I would say that we select certain users and e-mail them.
Well, I can make the templates and stuff but first you all have to decide the mode of communication. And if it's an e-mail as I suggested and not mass-posting, then there's no need of a template. Best to be informal.

[2015-05-16 18:45] fsoong commented on #19
oh dear

[2015-05-16 19:26] KomalPatel-github commented on #19
oh dear indeed!

On Sun, May 17, 2015 at 12:15 AM, fsoong notifications@github.com wrote:

[2015-05-17 09:11] Masssly commented on #11
@fsoong I just re-read your earlier comment. I now see that the two surveys are different. :smile:  But you haven't shared with us updates on the initial 3-page survey, I believe there were some changes you had to make? Or is it ready for posting?

@QEDK Reaching users by email at this stage seems intrusive, they must have opted for it somehow - like they are comfortable doing a followup with us i

[2015-05-17 09:18] Masssly commented on #19
This should be fun! But looking at the time...

[2015-05-17 14:38] hargup commented on #3
@notconfusing I've created a new tool name `wigi` at (http://tools.wmflabs.org/) and I've also added you as a manager, I think other people to request access to the tools project before I can add them to the `wigi` tool. Working with `wikitech` is new for me so I would like you to verify if I'm doing things right.

[2015-05-17 15:48] notconfusing commented on #3
@hargup, I think it's instructive to set it up locally once the first time.
I found this tutorial to be really helpful.
https://www.mediawiki.org/wiki/Wikidata_Toolkit#Beginner.27s_guide . And
next everything I've learned about Tools-labs I learned from this Help
page: https://wikitech.wikimedia.org/wiki/Help:Tool_Labs

Make a great day,
Max Klein ‽ http://notconfusing.com/

On Sun, May 17, 2015 a

[2015-05-18 22:17] notconfusing commented on #19
@Komchi I assigned this to myself, but if you want to take a shot at designing and then @fsoong can give you input I think that's a good use of time.
@Masssly ''It is allowed to reuse resources produced before the competition starts, i.e. you do not have to start from scratch."

So maybe a good way to do this is to take one or more of the graphics that has already been made in the original paper,

[2015-05-18 22:48] notconfusing commented on #3
@hargup . In the mean time you can get the october 2014 snaphshot_data from here: http://notconfusing.com/gender-index-data-2014-09-17.csv (too large to host on github >100mb, but I think now there is a new way to host large data on github, right?)

[2015-05-19 07:07] fsoong commented on #19
Sounds like a good plan. I'm planning to share with Komchi some online
tutorials for information design basics and designing landing pages in
photoshop. Infographic tutorials tend to be more print-based, which would
be less translatable to our main data viz / dashboard project :)

On Mon, May 18, 2015 at 3:17 PM, Max Klein notifications@github.com wrote:

##

Frances Soong
Visual UX Designer
(908)

[2015-05-19 10:37] QEDK commented on #3
Yeah, there is. But it's only being rolled out to a few people right now.
If we need it ASAP, you might consider getting in the queue (check the blog
post for the queue link).

From,
QEDK.

~~

On 19 May 2015 at 04:18, Max Klein notifications@github.com wrote:

[2015-05-19 10:40] KomalPatel-github commented on #19
Yeah I would love to give it a try.

On Tue, May 19, 2015 at 3:47 AM, Max Klein notifications@github.com wrote:

[2015-05-19 15:58] Masssly commented on #19
@notconfusing I am looking at how we can arouse and keep the interest of the jury for a while. The "world map" and "female percentage of biographies by culture" seem more related than the "world map" and "%-female by date of birth".
Do you have a reason why you chose the latter?
:thought_balloon: Also, I haven't graphed but I can imagine how kindling " female percentage of biographies" by "culture

[2015-05-20 01:42] notconfusing commented on #19
I think they're all good candidates if they got a face lift and were weaved
into an info graphic.
On 19 May 2015 08:58, "Mohammed Sadat Abdulai" notifications@github.com
wrote:

[2015-05-20 09:59] piokon commented on #20
I think at this point we can share your analysis with the group, so
everyone can read it? What do you think?

##

Piotr Konieczny, PhD
http://hanyang.academia.edu/PiotrKonieczny
http://scholar.google.com/citations?user=gdV8_AEAAAAJ
http://en.wikipedia.org/wiki/User:Piotrus

On 5/15/2015 05:34, Harsh Gupta wrote:

[2015-05-20 10:00] piokon commented on #20
I don't believe I ever got them, would you mind sending them here?

(Perhaps I am confused about something, but this is a listerv, right?)

##

Piotr Konieczny, PhD
http://hanyang.academia.edu/PiotrKonieczny
http://scholar.google.com/citations?user=gdV8_AEAAAAJ
http://en.wikipedia.org/wiki/User:Piotrus

On 5/15/2015 19:09, Mohammed Sadat Abdulai wrote:

[2015-05-21 11:40] Masssly commented on #20
Inclusion of a section header 6.3 that clearly spells out the scope of the study:

Scope of the study
The scope of the study is Wikipedia biographies that are coded in Wikidata. Wikidata is a project that aims to gather data from all Wikipedias in a single location in a form that can both be read by humans and be processed by machines. Its essence is a document oriented database that provides a co

[2015-05-22 05:52] piokon commented on #20
Mohammed, that's very interesting. I think the scope of the study should
be in the introduction, rather than in the middle. I'll see about
incorporating your scope, and discussion of biases, into the article.

Regarding your analysis of the Confucian hypothesis, I think it may be
better if you try to add it to our draft yourself, and see where it
fits. Regarding testing it further, all of them are

[2015-05-22 16:07] fsoong commented on #19
Hi All, I spoke with with Komchi over video chat this past Wednesday and suggested he work with Max with daily syncs or 3-5 times a week check-ins. Like over email as he had done with me and others for the initial project. I shared with him quite a few resources, but am editing my list (I'm wary of there being too many resources out there and want to make sure I pick out good ones for good reasons

[2015-05-23 23:26] fsoong commented on #19
Okay, to start with what is an infographic and how to make a good one is to know there are many, many bad ones. I start with posts by Column Five, one of most well-known agencies creating the prettiest infographics you see going viral today (including almost all the ones used on http://good.is).
- "What Makes a Good Infographic?" http://www.columnfivemedia.com/makes-good-infographic
- "Crafting an

[2015-05-24 21:56] Masssly commented on #11
@QEDK Are you still working on this task? It was your idea to go informal. Since I cant get to you via email to discuss the survey questions too I 'll take care of this myself tomorrow morning.

[2015-05-24 22:13] Masssly commented on #20
@piokon I am interested in exploring the Celebrity Hypothesis even further and I'd also prefer that we dealt with it rigorously in another paper. In the mean time it may not be too necessary to remove it entirely from this present paper, we can however trim it down by scantly mentioning it.
I will develop the Confucian hypothesis (in the coming days) and present it here, then we'll see ifs interes

[2015-05-25 04:42] QEDK commented on #11
@Masssly I meant if we e-mail people, we should rather be informal. I'm getting templates up ready. I hope you have a test group of sorts.

[2015-05-25 23:15] fsoong commented on #11
Just in case other people (besides QEDK and Masssly) are wondering, I wasn't able to make edits Masssly suggested. Instead, I've given editing permissions of the google survey to Masssly and QEDK. I look forward to reviewing the final template!

[2015-05-26 17:28] #14 closed

[2015-05-26 17:29] notconfusing commented on #14
Fraces completed this in an email.

[2015-05-26 17:31] notconfusing commented on #12
Use dummy data for now.

[2015-05-26 17:36] notconfusing opened #21 "Make Portal: Skeleton"
Create a 4 tab Breakdown version site that can have placeholders for our 4 graphs. We may institute more than 4 tabs at some point, so this should be scalable.
![wigi_presentation_01-20150516-01](https://cloud.githubusercontent.com/assets/1494283/7818794/a96e9b34-0392-11e5-8c2f-ca1c067be6cc.png)

The 4 essential graphs are: Gender by Culture, Gender by Country (World Map), Gender by Date of Birth,

[2015-05-26 17:40] notconfusing commented on #12
![wigi_presentation_01-20150516-02](https://cloud.githubusercontent.com/assets/1494283/7818970/a8041c14-0393-11e5-8b46-687e72d53d3d.png)

[2015-05-26 18:23] notconfusing commented on #11
@Masssly the main point of the survey, is to find out what kind of information users would like captured, ideally about the state of Wikipedia biographies. We will use it to inform what statistics our portal will show.

From [the google survey](https://docs.google.com/forms/d/1bAa-eQevGap6AUMRgy6XnSXCnuB7jBcRzrR544fOZlE/formResponse) I would suggest these changes:
1. More of an introduction. Intro

[2015-05-27 05:42] QEDK commented on #11
Fixed one question.
Fixed typos.
Added data validation to some questions.
Moved a few questions.
Changed fonts.
Made a few questions compulsory.
Fixed a few options, moved them to end, fixed grammar and stuff.

[2015-05-27 09:36] Masssly commented on #11
@notconfusing @fsoong @QEDK Been offline past couple days, will respond to you all shortly. Thanks!

[2015-05-27 21:43] Masssly commented on #11
@notconfusing
@fsoong
@QEDK
@hargup
@vivekiitkgp

Hello guys, I lunched the initial survey here: https://wikimedia.qualtrics.com/SE/?SID=SV_9ZXvma8y7fBfMMZ and sent out some invitations to potential respondents.
Please help out by forwarding the link to as many people as people and let me know if you want anything else removed/added/changed.

You might want to copy and paste this text when you are

[2015-05-27 21:47] Masssly commented on #11
Oops, sorry here is the right link: https://wikimedia.qualtrics.com/SE/?SID=SV_3OueVOHoRpezvZH
You can complete the earlier one too :grinning:  its still running.

[2015-05-29 18:40] fsoong commented on #11
Oops, I read this so late. If I had gotten here earlier, I'd have argued for keeping the "when was the last time you ___?" because it's a standard UX / design research starter to gauge the validity of the person self-reporting.

Q1 none option missing
Q2 should add "if you have selected any tools above,"... and provide an N/A option.
Q3 should remind people the description of the project is on the

[2015-05-31 20:45] hargup commented on #12
@notconfusing I'm trying out Bokeh [1](http://bokeh.pydata.org/en/latest/index.html) to create interactive visualizations, it is a quite popular library and is under active development. I plan to write python scripts which will convert csv files to the bokeh plots and I'm conducting my experiments in the repo https://github.com/hargup/WIGI-website.
I plan to use [nikola](getnikola.org) as a static

[2015-06-01 19:27] notconfusing commented on #19
https://commons.wikimedia.org/wiki/File:WIGI_Infographic.png

[2015-06-01 19:27] #19 closed

[2015-06-01 19:29] fsoong commented on #19
To others: please do not share on social media or publicly just yet! There are a few touches I'd like to work on still and add with Max. If you email to friends or family make sure they know it's a submitted draft :)

[2015-06-01 19:36] fsoong commented on #12
For the infographic, Max and I evolved the thin line of transgender people non-binary area chart into the size of circle points on a line graph.

Please feel free to ping me when/if you get into trouble or have any questions about how things should look, work, or interact with each other. Especially if that thought is a better idea!

[2015-06-02 18:03] notconfusing opened #22 "Polish Infographic for Social Media"
Edit the WVC edition to including at least

+ a graphic in the top right
+ a final blurb "We still don't know exactly how the bias of Wikipedia's editorship and the biases in the real-world interact. Studying Wikidata over time in combination with different gender-focused intiatives, we hope that the WIGI project can tell us more."

[2015-06-02 18:06] notconfusing opened #23 "Add Main Page Metric (Optional)"
From gobonobo.

https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Countering_systemic_bias/Gender_gap_task_force#Main_page_metrics

[2015-06-02 18:19] Masssly commented on #19
@fsoong Can you do something about the fonts? See https://groups.google.com/forum/#!topic/wigi-project/HXiXSfCtaHE

[2015-06-02 18:26] notconfusing commented on #12
@hargup, cool, i'll be glad to learn bokeh and nikola. Seems like a good
route to keep everything in python and use a static site generator. Nice
start.

Make a great day,
Max Klein ‽ http://notconfusing.com/

On Mon, Jun 1, 2015 at 12:36 PM, fsoong notifications@github.com wrote:

[2015-06-04 01:00] notconfusing commented on #3
OK @hargup and @vivekiitkgp I've made some progress on this and got wikidata toolkit running.
It's on a dedicated server. So to log in add the following to your `~/.ssh`.

[code]

except of course changing your usernames and keys etc.

OK then you can log into `ssh halva.eqiad.wmflabs`. Mmm I love halva.

Once you're in there you can

[code]

Please you confirm that you can do everything up to thi

[2015-06-04 03:37] QEDK commented on #12
Just for the record, Bokeh supports IPython notebooks seamlessly.

[2015-06-04 03:37] QEDK commented on #19
Convert the picture to .svg so that it doesn't lose quality and its size can be adjusted. :)

[2015-06-05 20:45] fsoong commented on #19
I don't think I need to make the fonts larger or convert the picture to .svg. SVG is still not standardized format and renders different across different browsers. I've had infographics become unreadable in SVG. If anything, I want to explore making the text darker in certain areas.

It'd help me though if you guys could use MS paint to draw on the graphic and point at which areas seem too small o

[2015-06-06 21:11] hargup commented on #12
Here is proof of concept using the gender by country plot. The plot also has a hover tooltip which shows the country name and the value of index
http://hargup.github.io/WIGI-website/world_map.html

The code to plot the graph is here: https://github.com/hargup/WIGI-website/blob/master/gender_by_country.py

[2015-06-08 19:08] notconfusing commented on #12
Great work @hargup

Make a great day,
Max Klein ‽ http://notconfusing.com/

On Sat, Jun 6, 2015 at 2:11 PM, Harsh Gupta notifications@github.com
wrote:

[2015-06-08 19:58] notconfusing commented on #12
As for hosting eventually we will migrate to WMFlabs after testing and development.

[code]

Also I'm getting closer on making the actual data #3 which will be available publicly but also through there.

[2015-06-09 11:15] vivekiitkgp opened #24 "Font page content"
Hi all,

I have setup a basic site using Nikola having a front page that will introduce out project and break down like top tabbed navigation to different graphs.

What should we put in the first page? A short, compelling description of the project with the info graphic perhaps? I tried finding suitable content from paper but picking up short sections from it wasn't conveying proper picture.

Or p

[2015-06-09 18:02] Masssly commented on #24
@vivekiitkgp Is this going to be the same as the lead capture page? We shouldn't have graphs of any sort there. Will come up with some text for a brief introduction. Then there can be a navigation to the various visualizations neatly placed side by side with the introduction.

[2015-06-09 18:06] raivivek commented on #24
@Masssly I think so. yes. A general one line introduction about graphs can also find its place in the text.

[2015-06-09 21:13] fsoong commented on #24
Can someone paste the link to it here?

Also, if we've already purchased or have a nice domain name for this project, can we set up the current work in a test subdomain? Like test.wigi.org... and then make wigi.org itself a "coming soon" page where the main call-to-action is a submission field for people to enter their email to hear news about the WIGI project as it's being developed and opportuni

[2015-06-09 23:08] notconfusing commented on #3
Update, please read @hargup and @vivekiitkgp

I was not able to run `GenderIndexProcessor.java` on `halva.eqiad.wmflabs` because of Out of Memory Error. I made a new machine `wigi.eqiad.wmflabs` with 16G of RAM. You should have access to this machine. It runs now, and processes the data dump in 20 mins (takes about 40 mins to dowload the 4g dump).

[code]

To invoke the process, I have setup the c

[2015-06-10 06:14] raivivek commented on #24
Hi fsoong,

I don't think we have a dedicated domain name as such for the project. In
all likelihood, we are hosting wigi website under https://wigi.wmflabs.org
(or similar) address (see #12). I have some static content ready which I
shall try to host on the server today.

Vivek Rai
https://vivekiitkgp.github.io

On Wed, Jun 10, 2015 at 2:43 AM, fsoong notifications@github.com wrote:

[2015-06-10 07:50] raivivek commented on #18
I guess this can be closed for the time being. If anyone, however, still disagrees then feel free to reopen it.

[2015-06-10 07:50] #18 closed

[2015-06-12 20:24] raivivek commented on #24
@fsoong @notconfusing

Checkout some preliminary stuff here - http://tools-static.wmflabs.org/wigi/output/

I'm still experimenting with web server on tools service.

[2015-06-14 10:49] raivivek commented on #12
While the idea of using Bokeh indeed sounds exciting, there are a couple of issue integrating it with our static site generator, which I'm not able to circumvent elegantly.

I was thinking if we want to offload the graphing responsibilities to front end by using d3.js[1](https://d3js.org). Althought, it will certainly involve a bit more effort. Suggestions?

[2015-06-22 22:13] notconfusing commented on #24
@vivekiitkgp for front page text, at the moment you can copy the first [four paragraphs](https://meta.wikimedia.org/wiki/Grants:IdeaLab/WIGI:_Wikipedia_Gender_Index) from our grant. And use the image on there too. We'll update it later.

And you're right we should use wmflabs. However it's 404ing now for me.

[2015-06-22 22:30] notconfusing commented on #24
@vivekiitkgp might have been 404'ing because i moved off halva, now i switched to the new server which its running off. Plese move everything over to wigi.eqiad.wmflabs, a more powerful 8-core 16gigram server.

[code]

[2015-06-22 22:36] notconfusing commented on #12
@vivekiitkgp and @hargup I don't mind if you use d3 or bokeh as long as you standardise together, so it's your assignment to decide among yourselves.

[2015-06-22 23:01] notconfusing commented on #8
Remember the first ones to do are Gender by Culture, Gender by Country (World Map), Gender by Date of Birth, and Wikipedia Language by Gender.

[2015-06-22 23:02] notconfusing commented on #17
As per #8, first focus on Gender by Culture, Gender by Country (World Map), Gender by Date of Birth, and Wikipedia Language by Gender.

[2015-07-10 18:33] #1 closed

[2015-07-10 18:35] #2 closed

[2015-07-10 18:35] #3 closed

[2015-07-10 19:13] fsoong commented on #11
We can open another issue for when we do more. Here's public links to Masssly's emailed output for now: https://www.evernote.com/l/ANvaYIYAP9lFrZQysPQQbKkfS_hPWBehJn0

[2015-07-10 19:13] #11 closed

[2015-07-11 22:35] Masssly commented on #11
Hello Frances,

Thanks for your upload of the “Initial  community feedback survey” onto Evernote. I am concerned about the privacy of the respondents since it contains their personal contact information. There’s another version that does not, which I’ll send to you soon so you can replace it.

Many Thanks

-Masssly

Sent from Windows Mail

From: fsoong
Sent: ‎Friday‎, ‎July‎ ‎10‎, ‎2015 ‎7‎:‎13‎ ‎

[2015-07-14 02:01] fsoong commented on #22
Updated. Please review for any discrepancies and feedback.
Please keep in mind that what you see here in Github is not the full-size. The actual infographic is larger.
![wigi_infographic_v05_20150718](https://cloud.githubusercontent.com/assets/12237852/8762332/28eb4102-2d2b-11e5-8759-529a1e27bc7e.png)

UPDATED July 17, 2015: Missing line above 40% is added back in.
UPDATED July 18, 2015: "English"

[2015-07-17 20:25] notconfusing commented on #22
One more polishing thing to do, was to revert the culture label from "English" back to "English Speaking". In fact, it would be great if you could post the .AI file here too.

[2015-07-18 16:02] fsoong commented on #22
I can't post anything other than PNG, GIF, or JPG onto Github so I'll be emailing them to you.
Here is a copy of the CSV data I used and previous version so everyone can compare. There is a lot of information in this one, and I can't promise I got every detail and fact straight. I'd really appreciate it if someone had time to comb through it and look for any discrepancies.

https://www.evernote.co

[2015-07-23 23:13] notconfusing opened #25 "deploy WIGI-website on tools-labs"
For @hargup and @vivekiitkgp:

Deploy the nikola/bokeh site on wmflabs.org/wigi/

Search here for FAQ's https://wikitech.wikimedia.org/wiki/Help:Tool_Labs#Web_server

[2015-07-27 17:41] notconfusing commented on #25
I am also thinking now, that because of datasharing between wigi.eqiad.wmflabs and tools-labs, we might as well just run the webserver off of wigi.eqiad.wmflabs. And i just set up a proxy for this

`Successfully created new proxy wigi.wmflabs.org for backend wigi.wikidumpparse.eqiad.wmflabs:808`

[2015-07-31 23:21] notconfusing opened #26 "automate aggregation maps"
+ pobs_map.json
    + _pob qid_ $\mapsto$ _country qid_
+ citizenships_map.csv
    + _citizenship_  $\leftrightarrow$ _english country name_
+ country_maps.csv
    + _country qid_ $\leftrightarrow$ _english country name_ $\leftrightarrow$ _world culture_

[2015-07-31 23:23] notconfusing commented on #21
this exists at https://github.com/hargup/WIGI-website

[2015-07-31 23:23] #21 closed

[2015-07-31 23:24] #22 closed

[2015-08-03 20:01] notconfusing opened #27 "move run_wigi_cron.sh to run from different folder"

[2015-08-03 23:18] notconfusing opened #28 "Decide what to do with start_decade var on making world_map"
in stanadlone.py

[2015-08-04 18:06] notconfusing commented on #17
I've created on big python script which is `gender-index-processing-standalone.py` that makes the graphable csv's. So I'm not sure how this affects making a pip package, or refactoring. We don't really need the ipynb's except for demonstration purposes, so I'm going to move this to phase D.

[2015-08-04 22:39] notconfusing commented on #28
I'm thinking we should have a second map now which worldmap-recent which is >1900

[2015-08-05 20:08] hargup commented on #25
The can now be accessed from https://tools.wmflabs.org/wigi/

[2015-08-06 20:41] notconfusing opened #29 "undeploy tools version of website to avoid confusion"

[2015-08-06 23:28] #25 closed

[2015-08-06 23:28] notconfusing commented on #25
and also at wigi.wmflabs.org

[2015-08-07 13:53] hargup commented on #29
tools.wmflabs.org/wigi/ now redirects to http://wigi.wmflabs.org/

[2015-08-07 13:53] #29 closed

[2015-08-07 22:24] notconfusing commented on #4
http://wigi.wmflabs.org/snapshot_data/2015-08-07/property_indexes/

[2015-08-07 22:24] #4 closed

[2015-08-10 19:11] notconfusing opened #30 "bokeh two y-axes for nonbin in gender-by-culture"

[2015-08-11 23:20] notconfusing opened #31 "insert pandas df html into change pages"
to show recent winners and losers

[2015-08-11 23:21] #8 closed

[2015-08-11 23:22] #12 closed

[2015-08-12 00:14] notconfusing opened #32 "newest-changes does not delete old directory contents before writing"
it sholud delete it before stuffing it

[2015-08-12 19:59] notconfusing commented on #10
REMINDER: one of the "interactions" we need to design for is socializing the data.

[2015-08-13 17:09] notconfusing commented on #32
fixed

[2015-08-13 17:09] #32 closed

[2015-08-13 17:10] notconfusing commented on #9
Done with `newest-changes`

[2015-08-13 17:10] #9 closed

[2015-08-13 17:55] notconfusing commented on #31
need to make it a collapsable table

[2015-08-13 18:03] notconfusing commented on #31
or just point to csv data?

[2015-08-14 18:12] notconfusing opened #33 "Make a twitter bot to report data from newest-changes"

[2015-08-14 20:22] notconfusing commented on #33
twitter account registered "WIGIstats"

[2015-08-14 20:55] notconfusing commented on #24
These are the todos there:
- Front Page
  - Expand width of content to match Header width.
  - An image from Infographic.
  - Text from Grants page.
  - A link to grants page.
  - Later maybe: Splash image.
  - Later maybe: Black and white photograph of one or a few historical women. (High Quality).
  - Big Button with Icon to Download the Data

[2015-09-08 19:37] notconfusing commented on #24
- add a single large static image or a carousel of images

[2015-09-24 19:38] notconfusing opened #34 "Create IPython notebook example of downloading and using a dataset"
As documentation to data-reusers

[2015-09-24 19:38] notconfusing opened #35 "Push datasets to figshare"
Or in lieu of automatic push, just a one-time.

[2015-11-13 12:28] raivivek commented on #26
Seems solved. Closing.

[2015-11-13 12:28] #26 closed

[2015-11-13 12:32] #24 closed

[2015-11-13 12:33] raivivek commented on #30
Non binary numbers are too low to show in the graph without complicating it. This is instead shown in the accompanying tables as discussed in team meetings.

[2015-11-13 12:33] #30 closed

[2015-11-13 12:36] raivivek commented on #10
Expecting next set of inputs from Beta release.

[2015-11-13 12:36] #10 closed

[2015-11-22 20:33] fsoong opened #36 "Use the color palette"
I had an hour feedback session with Max after sitting in on Rosie's Usability test this morning. And noticed we weren't using the color palette I made: https://github.com/hargup/WIGI-website/wiki/Color-Palette in many instances such as attached. Please use it.

There are many issues I think are higher and lower priority than this. I trust Max to prioritize this appropriately (or whomever else he a

[2015-11-23 01:07] raivivek commented on #36
@fsoong,

How to reproduce this stretching behavior? We haven't really encountered it
before. As far as the use of color palette is considered, I think @hargup gave
a shot to it but wasn't really successful.

##

Vivek Rai
https://vivekiitkgp.github.io

On Mon, Nov 23, 2015 at 2:04 AM, fsoong notifications@github.com wrote:

[2015-11-23 01:10] #31 closed

[2015-12-03 17:31] notconfusing commented on #16
- [x] since 2013 on the 42 wikis by %
- [x] since 2014 by all variables

[2015-12-03 17:34] notconfusing opened #37 "start literature review and ideas about occupation bias papers and data"

[2015-12-03 17:35] notconfusing opened #38 "incorporate masssly's ranked feedack until the money runs out"

[2016-03-05 04:03] #38 closed

[2016-03-05 04:04] notconfusing commented on #13
Not quite a usage counter, but https://commons.wikimedia.org/wiki/File:Pageviews_and_Downloads_of_WIGI.png

[2016-03-05 04:04] #13 closed

[2016-03-05 04:05] notconfusing commented on #13
`cd /var/log/apache2`
`for i in {1..29}; do grep 'csv' access.log.$i | awk '{print $4}' | cut -d: -f1 | uniq -c ; done`

[2016-03-05 04:06] notconfusing commented on #16
done, see wigi-icwsm.tex

[2016-03-05 04:06] #16 closed

[2016-03-11 07:14] piokon commented on #16
Does it mean you wrote a new paper???

##

Piotr Konieczny, PhD
http://hanyang.academia.edu/PiotrKonieczny
http://scholar.google.com/citations?user=gdV8_AEAAAAJ
http://en.wikipedia.org/wiki/User:Piotrus

On 3/5/2016 13:06, Max Klein wrote:

[2016-03-11 15:41] notconfusing commented on #16
@piokon we wrote a paper that was centered around the technical release of
the dataset. It was rejected by ICWSM, but we are now targeting OpenSym. We
are taking care that it does not overlap with the journal paper in
submission.

Make a great day,
Max Klein ‽ http://notconfusing.com/

On Fri, Mar 11, 2016 at 1:14 AM, piokon notifications@github.com wrote:

[2016-07-31 06:20] hargup commented on #37
The research is part of the OpenSym paper.

[2016-07-31 06:20] #37 closed

[2016-07-31 06:21] hargup commented on #35
https://figshare.com/articles/Wikidata_Human_Gender_Indicators/3100903

[2016-07-31 06:21] #35 closed

[2016-07-31 06:25] hargup commented on #28
The current plot starts from 1600 CE which looks good.

[2016-07-31 06:25] #28 closed

[2016-07-31 06:25] hargup commented on #27
Fixed.

[2016-07-31 06:25] #27 closed

[2016-07-31 06:30] hargup commented on #15
@vivekiitkgp and @notconfusing have written blog posts about the project
- http://notconfusing.com/wikimania2015/
- http://vivekiitkgp.github.io/programming/wigi-an-inspire-grantee.html

We can do some more promotion but don't need to keep the issue open for that.

[2016-07-31 06:30] #15 closed

[2017-02-06 12:36] yerpo opened #42 "Bug in weekly counts?"
For a long time, I've been noticing strange things with the :slwiki  (Slovenian language) statistics in the Gender by Wikipedia Language tab, I hope this is the right place for reporting.

Firstly, :slwiki's point is usually not on the "Changes" graph, unless the wiki is in Top 10 or Bottom 10. As far as I gather, other wikis are always there. Secondly, this week (29 Jan '17 - 05 Feb '17) it's in

[2017-02-13 07:18] yerpo commented on #42
EDIT: nevermind, it just has a lag of one week (which could simply be explained somewhere on the page). Only the issue with the :slwiki's point remains.

[2019-01-15 09:03] fnielsen opened #43 "Toolforge web app should not use third-party assets"
Toolforge web app should not use third-party assets, but serve them locally

[2019-01-22 19:58] notconfusing commented on #43
I could do that. I hear you are missing the CSS.

Make a great day,
Max Klein ‽ http://notconfusing.com/

On Tue, 15 Jan 2019 at 04:03, Finn Årup Nielsen <notifications@github.com>
wrote: